
@{
    ViewData["Title"] = "Index";
}
<div class="d-flex justify-content-center">
<div class="card d-flex justify-content-center" style="width: 30rem;">
  <img src="/Pictures/sss.jpg" class="card-img-top" alt="...">
  <div class="card-body">
        <div class="card-text">
            <h3 class="display-6">Learn Well Today</h3>
            <h3 class="display-4">Technoligies</h3>
            <ul>
                <li>.NET Core 6.0</li>
                <li>Vanila JavaScript</li>
                <li>jQuery</li>
                <li>Bootstrap 5.2.2</li>
                <li>Bootstrap-icons 1.9.1</li>
            </ul>
        </div>
       <a asp-action="Index" asp-controller="Main" class="btn btn-primary">Go to SPA Page</a>
    </div>
    <div class="card-footer">
        Anika Arabi <br />
        ID: 1267947
    </div>
</div>
</div>

